.buttonGroup {
    margin: 20px auto;
    display: block;
  }

.noSelectedButton {
    background-color:lightgrey;
    border: blueviolet;
    color: black;
    padding: 15px  ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(206, 206, 206, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.noSelectedButton:active {
    background-color: lightgrey;
    box-shadow: 0 8px 16px 0 rgba(206, 206, 206, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

.selectedButton:active {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(206, 206, 206, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

.selectedButton {
    background-color: white;
    border: blueviolet;
    color: black;
    padding: 15px  ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(206, 206, 206, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.horizontalDivider{
    width:10px;
    height:auto;
    display:inline-block;
}

.verticalSpace{
    width:auto;
    height: 50px;
    display:inline-block;
}
  
h4 {
    padding-right: 10px;
}

  