.navBar {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: left;
  box-shadow: 0 1px 1em rgb(134, 134, 134);
  margin-bottom: 10px; 
  background-color: rgb(241, 241, 241);
}

.logo{
  max-height: 35px;
  padding: 8px;
}

.name {
  font-size: 30px;
  color: #3ECA8E;
}